* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*menu*/
.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
hrml, body {
    width: 100%;
    overflow: hidden;
}
header {
    height: 200px;
    padding: 25px 0;
}
.logo {
    width: 50%;
}
.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}
.menu a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    transition: .5s;
}
.menu a:hover {
    color: #017143;
    border-bottom: solid 1px #017143;
}
/*corpo*/
section.sobre {
    height: calc(100vh - 200px);
    position: relative;
}
.extras {
    position: absolute;
    bottom: -200px;
    right: -200px;
    width: 700px;
    height: 700px;
    border-radius: 50% 50% 0 50%;
    background: #017143;
}
.extras img {
    position: absolute;
    top: -50px;
    left: -50px;
}
.social-midia {
    position: absolute;
    right: 10px;
    top: 100px;
}
.social-midia img {
    display: block;
    width: 20px;
    margin:25px 0;
    box-sizing: border-box;
}
.texto-sobre {
    margin-top: 100px;
    width: 50%;
    word-wrap: break-word;
}
.texto-sobre h1 {
    font-size: 50px;
}
.texto-sobre p {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2rem;
}
.texto-sobre button {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: 0;
    background: #017143;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
    transition: background .5s;
}
.texto-sobre button:hover {
    background: #028254;
}